extends layout

block content
    .uk-container.uk-container-center.uk-margin-large-bottom
        h2.uk-margin-bottom.uk-margin-top.uk-container 韵达快递
        nav.uk-navbar.uk-margin-large-bottom
            ul.uk-navbar-nav.uk-hidden-small
                li
                    a(href='layouts_frontpage.html') 订单管理
                li.uk-active
                    a(href='') 用户管理
                li
                    a(href='layouts_portfolio.html') 短信发送池
                li
                    a(href='layouts_blog.html') 个人主页
        .uk-grid(data-uk-grid-margin='')
            .uk-width-medium-3-4
                h3 用户管理
                hr.uk-article-divider
                .uk-overflow-container
                    - if(customers.length>0){
                    table.uk-table.uk-text-nowrap.uk-table-striped
                        thead
                            tr
                                th 用户id
                                th 用户名
                                th 手机号
                                th 村区
                                th 加入时间
                                th 最近取单时间
                                th 操作
                        tbody
                            - for(var i=0;i<customers.length;i++){
                                tr
                                    td #{customers[i]._id}
                                    td #{customers[i].name}
                                    td #{customers[i].tel}
                                    td
                                        if(customers[i].town==1)
                                            | 菜园村
                                        else if(customers[i].town==2)
                                            | 杨各庄
                                    td #{customers[i].join_time}
                                    td #{customers[i].last_time}
                                    td(data-id="#{customers[i]._id}")
                                        a(data-do="edit") 修改
                                         ||
                                        a(data-do="del") 删除
                            - }
                    ul.uk-pagination
                        li
                            a(href='') 上一页
                        li.uk-active
                            span 1
                        li.uk-disabled
                            span 2
                        li.uk-disabled
                            span 3
                        li
                            span 下一页
                    - }else{
                       | 没有数据
                    - }
            .uk-width-medium-1-4
                a(href='#add_customer', data-uk-modal='') 添加用户
    #add_customer.uk-modal
        .uk-modal-dialog
            a.uk-modal-close.uk-close
            form.uk-form(onsubmit='return false;')
                .uk-form-row
                    label.uk-form-label(for='name') 姓名:
                    input(type='text', name='name', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='tel') 电话:
                    input(type='tel', name='tel', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='town') 居住地:
                    select(name='town')
                        option(value='1') 菜园村
                        option(value='2') 杨各庄
                .uk-form-row
                    label.uk-form-label(for='marks') 备注:
                    textarea(name='marks')
                .uk-form-row
                    button.uk-button 确定


    script(src='/js/customer.js')