extends ../common/layout

block content
    .uk-container.uk-container-center

        include ../common/nav
        .uk-overflow-container
            table.uk-table.uk-table-striped
                thead
                    tr
                        th(width="15%") 订单编号
                        th(width="10%") 用户名
                        th(width="10%") 手机号
                        th(width="10%") 费用
                        th(width="10%") 状态
                        th(width="10%") 失败状态码
                        th(width="20%") 失败原因
                        th(width="10%") 日志id
                        th(width="10%") 操作
            each log,index in list
                table.uk-table.uk-table-striped
                    caption #{log.format_name}
                    tbody
                        each loglist in log.log
                            tr
                                td(width="15%") #{loglist.code}
                                td(width="10%") #{loglist.username}
                                td(width="10%") #{loglist.tel}
                                td(width="10%")
                                    if loglist.fee
                                        ￥#{loglist.fee}
                                td(width="10%") #{loglist.text_status}
                                td(width="10%") #{loglist.err_code}
                                td(width="20%") #{loglist.err_msg}
                                td(width="10%") #{loglist.sid}
                                td(width="10%")
                                    a 补发
            - var baseUrl = '/courier/sms/list?page='
            include ../common/pages