extends ../common/layout

block content
    .uk-container.uk-container-center
        include ../common/nav
        article.uk-article
            h3.uk-margin-top 用户信息修改
            hr.uk-article-divider
            .uk-width-1-3.uk-container-center
                form.uk-form(action="",method="POST", onsubmit="return false")
                    .uk-form-row
                        label.uk-form-label 用户id：
                        .uk-form-controls
                            input.uk-form-width-large(type="text",value="#{data._id}" disabled)
                    .uk-form-row
                        label.uk-form-label 姓名：
                        .uk-form-controls
                            input(type="hidden",name="id",value="#{data._id}")
                            input.uk-form-width-large(name='name', type="text",value="#{data.name}")
                    .uk-form-row
                        label.uk-form-label 电话：
                        .uk-form-controls
                            input.uk-form-width-large(name='tel', maxlength="11",type="tel",value="#{data.tel}")
                    .uk-form-row
                        label.uk-form-label(for='town') 居住地:
                        .uk-form-controls
                            if towns
                                select.uk-form-width-large(name='town')
                                    each town,index in towns
                                        if data.town == index
                                            option(value='#{index}' selected="true") #{town}
                                        else
                                            option(value='#{index}') #{town}
                    .uk-form-row
                        label.uk-form-label(for='marks') 备注:
                        .uk-form-controls
                            textarea.uk-form-width-large(name='marks',value="#{data.marks}") #{data.marks}
                    .uk-form-row
                        label.uk-form-label(for='last_time') 最后更新时间:
                        .uk-form-controls
                            input.uk-form-width-large(name="last_time" type="text",value="#{data.format_last_time}" disabled)
                    .uk-form-row
                        .uk-button.uk-width-1-1.uk-button-primary(id="user_edit") 修改
    script(src='/js/customer.js')