extends ../common/layout
block content
    .uk-container.uk-container-center

        include ../common/nav
        .uk-grid
            .uk-width-2-3
                div.uk-button.uk-margin-right(data-uk-modal="{target:'#add_customer'}") 添加用户
                div.uk-button(disabled, id="del_customer") 批量删除
            .uk-width-1-3
                form.uk-form.uk-float-right(id="user_search",method="get")
                    .uk-form-row
                        input(type="text", name="keyword", placeholder="支持姓名,手机号的查询",value="#{keyword}")
                        button.uk-button 搜索
        hr
        .uk-overflow-container
            - if(customers.length>0){
            table.uk-table.uk-table-striped
                thead
                    tr
                        th
                            input(type="checkbox")
                        th 用户id
                        th 用户名
                        th 手机号
                        th 村区
                        th 加入时间
                        th 最近取单时间
                        th 操作
                tbody
                    - for(var i=0;i<customers.length;i++){
                        tr
                            td
                                input(type="checkbox",data-id="#{customers[i]._id}")
                            td #{customers[i]._id}
                            td #{customers[i].name}
                            td #{customers[i].tel}
                            td
                                if(customers[i].town==1)
                                    | 菜园村
                                else if(customers[i].town==2)
                                    | 杨各庄
                            td #{FN.dateFormat(customers[i].join_time)}
                            td #{FN.dateFormat(customers[i].last_time)}
                            td(data-id="#{customers[i]._id}")
                                a(target="_blank", href="/courier/user/edit?id=#{customers[i]._id}") 修改
                                span &nbsp;|&nbsp;
                                a(target="_blank", href="/courier/user/orders?id=#{customers[i]._id}") 查看订单
                    - }

            include ../common/pages

            - }else{
               | 没有数据
            - }
    include layers

    script(src='/js/customer.js')
