extends ../common/layout

block content
    .uk-container.uk-container-center

        include ../common/nav
        article.uk-article(data-id="#{user._id}")
            .uk-clearfix
                h2.uk-float-left #{user.name}的快递
                .uk-button.uk-float-right(data-uk-modal="{target:'#add_order'}") 添加新订单
            hr.uk-article-divider.uk-margin
            .uk-overflow-container
                - if(data.length>0){
                table.uk-table.uk-table-striped
                    thead
                        tr
                            th 快递编号
                            th 快递公司
                            th 配送方式
                            th 到库时间
                            th 状态
                    tbody
                        - for(var i=0;i<data.length;i++){
                        tr
                            td #{data[i].code}
                                - if(data[i].status==0){
                                    .uk-badge.uk-margin-left new
                                - }
                            td #{data[i].text_company}
                            td #{data[i].text_pick_way}
                            td #{data[i].format_in_time}
                            td #{data[i].text_status}
                        - }
                - }else{
                | 没有数据
                - }
    include layers
    script(src='/js/datepicker.min.js')
    script(src='/js/customer.js')